div.caracthersType {
    width: 100%;
    margin-bottom: auto;
}

div.divType {
    display: flex;
    align-items: center;
    width: 100%;
}

p.typeName {
    font-size: 0.8rem;
}

input.typeCheck {
    display: none;
}

div.pseudoCheck {
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 5%;
    border: solid 2px #5ACA75;
    cursor: pointer;
}