div.caracthersType {
    width: 100%;
    margin-bottom: auto;
}

div.divType {
    display: flex;
    align-items: center;
    width: 100%;
}

p.typeName {
    font-size: 0.9rem;
}

input.typeCheck {
    display: none;
}

label.pseudoCheck {
    height: 0.9rem;
    width: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    margin-right: 5%;
    cursor: pointer;
    border: solid 2px #5ACA75;
}

label.checked {
    background-color: #5ACA75;
}

label.checked::after {
    content: url(../../assets/icon-check.svg);
}