div.strengthInfoDiv {
    height: 16%;
    width: 100%;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161b20;
    margin-bottom: auto;
}

div.levelDiv {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.strengthLevel {
    font-weight: 600;
    margin-right: 5%;
}

p.nameInfo {
    font-size: 0.75rem;
    font-weight: 600;
    color: #747e90;
}

div.barsDiv {
    height: 65%;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

div.levelBar {
    height: 100%;
    width: 8px;
    border: 2px solid #ffffff;
}